{
    "name": "DatagenUsers01",
    "config": {
        "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
        "kafka.topic": "t.orders",
        "max.interval": 100,
        "iterations": -1,
        "tasks.max": "2",
        "schema.filename": "/tmp/data-gen/schemas/OrderEvent.avsc",
        "schema.keyfield": "orderId",
        "key.converter": "org.apache.kafka.connect.storage.StringConverter",
        "value.converter": "io.confluent.connect.avro.AvroConverter",
        "value.converter.schema.registry.url": "http://schema-registry:8081"
    }
}
